@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <h3>Defend the earth from incoming space attacks!</h3>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <h4>Controls</h4>
    </div>
    <div>
        <p><b>Space</b>: shoot bullet</p>
        <p><b>Mouse</b>: drag mouse to look around and aim</p>
        <p><b>X</b>: accelerate along the orbit</p>
    </div>
    <div class="row">
        <div class="col-2">Name</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Start Game" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="row">
    <p><b>Number of players</b>: <span id="numPlayers">0</span></p>
</div>
<div class="row">
    <p><b>Attacks stopped by you</b>: <span id="selfRocksStopped">0</span></p>
</div>
<div class="row">
    <p><b>Total attacks stopped</b>: <span id="totalRocksStopped">0</span></p>
</div>
<canvas id="glCanvas" width="640" height="480"></canvas>

<script src="~/js/babylon/babylonjs/babylon.min.js"></script>
<script src="~/js/babylon/babylonjs/babylon.gui.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/game.js"></script>